# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.egg-info/

# Fortran
*.o
*.mod
*.exe
ultralight

# Node/JS (if used later)
node_modules/

# OS / IDE
.DS_Store
*.swp
*.sublime-workspace
*.vscode/

# Logs
*.log

# Temporary files
*.tmp
